html,body{
    margin: 0%;
    box-sizing: border-box;
    overflow: hidden;
}
/* navbar styling starts */
/* Global varibles start */
a{
    text-decoration: none;
    color: gray;
}
ul{
    list-style-type: none;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    font: 1.3rem;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
}
button.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
/* Globle varible ends */
.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;     
}
.nav{
    background: white;
    padding: 0.2rem ;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    transition: height 1s ease-in-out; 
}
.nav .nav-menu{
    justify-content: space-between;
}
.nav .toggle-collapase{
    position: absolute;
    top: 4%;
    width: 90%;
    cursor: pointer;
    display: none;
}
.nav .toggle-collapase .toggle-icons{
    display: flex;
    justify-content: flex-end;
    pad: 1.7rem 0;
}
.nav .toggle-collapase .toggle-icons i{
    font-size: 1.4rem;
    color: gray;
}

.collapase{
    height: 40rem;
}
.nav .nav-items{
    
    display: flex; 
    margin: 0;
}
.nav .nav-items .nav-link{
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
}
.nav .nav-items .nav-link:hover{
    background-color: lightblue;
}
.nav .nav-items .nav-link:hover a{
    color: white;
}
.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}
.nav .social{
    padding: 1.4rem 0;
}
.nav .social a{
    padding: 0 .2rem;
}
.nav .social a:hover{
    color: lightblue;
}

@media only screen and (max-width:750px){
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column ;
    }

    .nav .toggle-collapase{
        display: initial;
    }
}
/* navbar styling ends */
main .site-title{
    background-image: url('../asset/img/travels\ background.jpg');
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: center;
}
main .site-title .site-background{
    padding-top: 10rem;
    text-align: center;
    color: white;
}
main .site-title h1,h3{
    margin: .3rem;
}
main .site-title .btn{
margin: 1.8rem;
background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%); ;

}
main .site-title .btn:hover{
    background: transparent;
    border: 1px solid white;
    color: white;
}
/* main section styling starts */

/* main section styling ends */

